name: Keep Streamlit Apps Alive

on:
  schedule:
    - cron: '0 * * * *'  # Every hour at minute 0

  workflow_dispatch:

jobs:
  ping-apps:
    runs-on: ubuntu-latest

    steps:
      - name: Send request to Quantum Tech Papers app
        run: curl -s -o /dev/null -w "%{http_code}\n" https://testbed-automation2.streamlit.app/

